/* Global */
html, body {
    height: 100vh;
}

body {
    display: flex;
}

#menu-categories {
    background: #000;
}

li .food-category-name {
    color: #fff;
}

.food-category-item.active {
    background: #1b1e21;
    border: 1px solid #fff;
    box-sizing: border-box;
}

section.menu-items {
    background: #9fcdff;
    flex: 1;
}

section.menu-items ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

section.menu-items li {
    background: #0b2e13;
    color: #fff;
    box-sizing: border-box;
    border: 1px solid #0c5460;
    list-style: none;
    padding: 1em;
    display: flex;
    max-width: 15em;
    /*justify-content: space-between;*/
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
}

section.menu-items li span {
    flex: 1;
    flex-grow: 2;
}

h2.orders {
    order: 2;
    flex-grow: 1;
    min-height: 1em;
}

span.button-text {
    margin-left: 1em;
}

footer {
    background: #000000;
    display: flex;
}

footer button {
    margin-right: 1em;
}

footer button#logOut {
    margin-left: auto;
}

#login, #event{
    height: calc(100% - 63px);
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

#login > #loginForm, #event > #eventForm {
    margin: auto;
    align-self: center;
}

form {
    background: #d3eeff;
    border: 1px solid #ffffff;
    padding: 2em;
}

form > h1 {
    margin-top: 0;
    color: #516487;
}

/* Mobile first */
@media (max-width: 768px) {
    body {
        flex-direction: row;
    }

    nav {
        flex-basis: 0;
    }

    section.menu-items ul {
        flex-direction: column;
        height: 100vh;
        overflow: auto;
    }

    span.button-text {
        display: none;
    }

    footer {
        flex-basis: 0;
        flex-direction: column;
    }

    footer button {
        margin: 0.1em;
    }

    footer #logOut {
        margin-top: auto;
    }
}

/* Desktop */
@media (min-width: 769px) {
    body {
        flex-direction: column;
    }

    .food-category-item {
        width: 50%;
        text-align: center;
    }

    footer button {
        margin: 0.4em;
    }
}